<!doctype html>
 <html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content = "Security focused chatbot, by DuckDuckGroup, capable of carrying out Network Enumeration, Network Vulnerability Scaning & Account Breach Detection">
    <meta name="keywords" content="Chatbot, Botkit, Botkit AI, Scanly, DuckDuckGroup">
    <meta name="author" content="DuckDuckGroup">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {% if page.url == "/contact/" %}
    <link rel="stylesheet" href="/assets/css/contact.css">
    {% endif %}
    <link rel="shortcut icon" type="image/png" href="/favicon.png">
  </head>
  <body>
      <div id="header">
        <nav>
          <li class="fork"><a {% if page.url == "/" %} class="active" {% endif %} href="/">Home</a></li>  
          <li class="fork"><a {% if page.url == "/scanly/" %} class="active" {% endif %} href="/scanly/">Demo</a></li>
          
          <li class="downloads"><a href="https://github.com/DuckDuckGroup/Scanly/tree/main" target="_blank">GitHub</a></li>
          <li class="downloads"><a {% if page.url == "/contact/" %} class="active" {% endif %} href="/contact/">Contact</a></li>
        </nav>
      </div><!-- end header -->

    <div class="wrapper">

      <section>
        <div id="title">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
          <p>{{ site.description | default: site.github.project_tagline }}</p>
          <hr>
          <span class="credits left">Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></span>
          <span class="credits right">Released under the <a href="/licence">GNU Lesser General Public Licence</a></span>
        </div>
        {{ content }}
      </section>
    </div>
  </body>
</html>